# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cso

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exp
!Havtorn/ProjectSetup/vs_BuildTools.exe

# Visual Studio Files
*.vs/
*/Temp/
*.pdb
*.idb
*.vcxproj
*.vcxproj.filters
*.user

# Folders
*premakeTest/
*Notes/
*Havtorn/Source/_ReSharper.Caches
*Havtorn/Source/out
*Havtorn/External/DirectXTex
*Havtorn/ProjectSetup/__pycache__
*Havtorn/ProjectSetup/CMake
*Havtorn/ProjectSetup/Premake
*Havtorn/BuildFiles
*Havtorn/SetupRequirements/
*Havtorn/ProjectSetup/SetupRequirements/

# Other/Intermediate
*.ilk
*.iobj
*.ipdb
*.ini