[submodule "Havtorn/External/imgui"]
	path = Havtorn/External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Havtorn/External/FastNoise2"]
	path = Havtorn/External/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "Havtorn/External/ImGuizmo"]
	path = Havtorn/External/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Havtorn/External/box2d"]
	path = Havtorn/External/box2d
	url = https://github.com/nicolas-risberg/box2d.git
[submodule "Havtorn/External/box2dcpp"]
	path = Havtorn/External/box2dcpp
	url = https://github.com/nicolas-risberg/box2dcpp.git
[submodule "Havtorn/External/PhysX"]
	path = Havtorn/External/PhysX
	url = https://github.com/nicolas-risberg/PhysX.git
